:root{
    --black : #000;
    --white : #fff;
    --primary-bg-color : #ffe9c0c4;
    --secondary-bg-color : #b38c46d7; 
    --top-nav-color : #fef3dfc6;

    --border-color : #bebdbd79;
    --title-color : #0c0c0cb4;
    --placeholder : #00000075;
    --icon-color : #323131bd;
    --box-shadow-light : 0 0 10px #c6c2c28e;
    --box-shadow-dark : 0 0 15px #3b3b3b45;

    --font-poppins : "Poppins", sans-serif;
    --font-roboto : "Roboto", sans-serif;
    --font-jost : "Jost", sans-serif;
    --font-anta : "Anta", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    list-style-type: none ;
    text-decoration: none !important;
    user-select: none;
}

body{
    height: 100vh;
    background-color: var(--main-color);
    scroll-padding-top: 130px; 
}

p{
    margin: 0 !important;
    padding: 0 !important;
}

h3{
    margin: 0 !important;
}

.wrapper{
    max-width: 1300px;
    margin: auto;
}


/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: var(--primary-bg-color);
    border-left: 1px solid var(--border-color)
}
  
::-webkit-scrollbar-thumb {
    background: var(--secondary-bg-color);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #926e2cd7;    
}


.main{
    margin-top: 140px;
}

/* navigation */
.nav-box{
    position: fixed;
    top: 0px;
    left: 0;
    background-color: var(--white);
    height: 140px;
    width: 100%;
    z-index: 1000; 
    box-shadow: var(--box-shadow-light);
    padding: 0 30px;
}

nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchbar{
    position: relative;
}

.searchbar input{
    outline: none;
    border: 1px solid var(--border-color);
    height: 50px;
    width: 320px;
    border-radius: 5px;
    padding: 10px 50px 11px 20px;
    font-size: 16px;
}

input::placeholder{
    color: var(--placeholder);
}

.searchbar i{
    position: absolute;
    right: 22px;
    top: 14px;
    font-size: 18px;
    color: var(--icon-color);
}

.logo{
    font-family: var(--font-anta);
}

.logo span{
    color: var(--secondary-bg-color);
}

.nav-list{
    display: flex;
    gap: 40px;
    font-size: 20px;
}

.nav-list i{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--icon-color);
    cursor: pointer;
    transition: color .3s ease-in-out ;
    position: relative;
}

.nav-list i:hover{
    color: var(--black);
}

.nav-list span{
    margin-top: -5px;
    font-size: 15px;
    font-family: var(--font-jost);
}

#items-added{
    position: absolute;
    right: 17px;
    width: 18px ;
    font-size: 12px;
    font-weight: 600;
    border-radius: 50%;
    background-color: var(--secondary-bg-color);
    color: var(--white);
    font-family: var(--font-roboto);
}


/* top navigation */
.top-nav{
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    z-index: 1000; 
    background-color: var(--top-nav-color);
    padding: 0 10px;
}
.top-nav ul{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding-left: 0 ;
}

.top-nav ul li a{
    font-family: var(--font-poppins);
    color: var(--black);
    font-weight: 600;
    font-size: 16px;
    transition: .3s;
}

.top-nav ul li a:hover{
    color: var(--secondary-bg-color);
}


/* carousel */
.slide{
    margin-top: 140px;
    background-color: var(--primary-bg-color);
}

.carousel-inner{
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 25px 0px 40px;
    border-radius: 20px;
}

.carousel-item img{
    width: 800px;
    height: 500px;
    border-radius: 20px;
    margin: auto;
    opacity: 80%;
}

.carousel-indicators {
    position: absolute;
    bottom: -8px !important;
    gap: 12px;
}

.carousel-indicators [data-bs-target]{
    height: 8px !important;
    width: 8px !important;
    border-radius: 50%;
    background-color: var(--secondary-bg-color) !important;
}


/* service section */
.service{
    padding: 70px 0;
    max-width: 1300px;
    margin: auto;
}
.service-wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;

}
.service-list{
    display: flex;
    gap: 16px;  
    color: var(--title-color);
    margin-top: 30px;
    padding: 0 20px;
}

.service-list i{
    font-size: 42px;    
}

.fa-solid{
    line-height: 1.6 !important;
}

.service-list-item p{
    font-size: 18px;
    font-weight: 600;
    font-family: var(--font-poppins);
}

.service-list-item span{
    color: var(--placeholder);
    font-weight: 500;
    font-size: 14px;
}

/* Clothing and Accessories Section */
.clothing-title,
.accessories-title {
    font-size: 36px;
    font-family: var(--font-jost);
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
    padding: 0 20px;
    margin-top: 70px;
}

.clothing-products,
.accessories-products {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    justify-content: center;
    gap: 25px;
    padding: 0 20px;
}

.clothing-list-item,
.accessories-list-item {
    position: relative;
    display: flex;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    background-color: var(--top-nav-color);
    border-radius: 20px;
    height: 320px;
    width: 280px;
}

.clothing-list img,
.accessories-list img{
    max-width: 300px;
    padding: 20px;
    box-shadow: 10px 10px 20px #000;
}


/* Clothing and Accessories Button */
.clothing-btn,
.accessories-btn {
    position: absolute;
    bottom: -60px;
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-dark);
    border-radius: 10px;
    transition: .5s;
}

.clothing-list-item:hover .clothing-btn,
.accessories-list-item:hover .accessories-btn {
    bottom: 25px;
}

.clothing-btn i:not(.clothing-cart-btn i),
.accessories-btn i:not(.accessories-cart-btn i) {
    font-size: 20px;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    color: var(--black);
    cursor: pointer;
    border: 2px solid transparent;
}

.clothing-cart-btn,
.accessories-cart-btn {
    background-color: var(--secondary-bg-color);
    color: var(--white);
    padding: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border: 2px solid transparent;
}

.clothing-cart-btn span,
.accessories-cart-btn span {
    padding-right: 5px;
    cursor: pointer;
}

.clothing-cart-btn i,
.accessories-cart-btn i {
    padding: 5px;
}

.clothing-btn i:first-child:not(.clothing-cart-btn i),
.accessories-btn i:first-child:not(.accessories-cart-btn i) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.clothing-btn i:last-child:not(.clothing-cart-btn i),
.accessories-btn i:last-child:not(.accessories-cart-btn i) {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.clothing-btn i:hover:first-child:not(.clothing-cart-btn i),
.accessories-btn i:hover:first-child:not(.accessories-cart-btn i) {
    color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    border-right: none;
    transition: color 0.5s, border 0.5s;
}

.clothing-btn i:hover:last-child:not(.clothing-cart-btn i),
.accessories-btn i:hover:last-child:not(.accessories-cart-btn i) {
    color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    border-left: none;
    transition: color 0.5s, border 0.5s;
}

.clothing-cart-btn:hover,
.accessories-cart-btn:hover {
    background-color: var(--white);
    color: var(--secondary-bg-color);
    border: 2px solid var(--secondary-bg-color);
    transition: background-color 0.5s, border 0.1s, color 0.5s;
}

/* Clothing and Accessories Details */
.clothing-detail,
.accessories-detail {
    margin-top: 15px;
}

.clothing-detail h3,
.accessories-detail h3 {
    font-size: 28px;
    font-family: var(--font-jost);
    color: var(--title-color);
}

.clothing-detail p,
.accessories-detail p {
    font-family: var(--font-poppins);
    color: var(--placeholder);
    font-weight: 500;
}

.clothing-detail span,
.accessories-detail span {
    font-size: 22px;
    font-family: var(--font-poppins);
    font-weight: 500;
    color: var(--secondary-bg-color);
}

/* Footer */
#footer{
    margin-top: 50px;
    background-color: var(--top-nav-color);
}

.footer-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 10px ;
}

.footer-about{
    max-width: 450px;
    margin-bottom: 30px;
    padding: 0 20px;
}

.footer-about p{
    margin-top: 10px !important;
    font-family: var(--font-jost);
    font-size: 18px;
    color: var(--icon-color);
}

.footer-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 70px;
    margin-top: 20px;
}

.footer-item h3{
    font-family: var(--font-roboto);
    font-size: 28px;
    color: var(--black);
    opacity: .8;
}

.footer-item ul {
    padding: 0;
    margin-top: 15px;
}

.footer-item ul li{
    padding: 4px 0;
}

.footer-item ul li a{
    font-size: 16px;
    font-family: var(--font-jost);
    color: var(--placeholder);
    position: relative;
    transition: .3s;
}

.footer-item ul li a::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 3px;
    width: 0px;
    background-color: var(--title-color);
    transition: .3s;
    border-radius: 10px;
}

.footer-list ul li a:hover {
    padding-left: 15px; 
    color: var(--title-color);
}

.footer-list ul li a:hover::before {
    width: 10px;
}


/* Copyright */
.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.copyright p{
    font-family: var(--font-roboto);
}


/* showCart */
.show-cart {
    height: 100%;
    width: 400px;
    background-color: var(--white);
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    z-index: 1001;
    box-shadow: var(--box-shadow-dark);
    transition: .5s;
    overflow-y: scroll;
    padding-bottom: 60px;
}

.show-cart-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px ;
}

.show-cart-head h3 {
    font-family: var(--font-poppins);
    color: var(--black);
}

.show-cart-head i{
    background-color: var(--secondary-bg-color);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: var(--white);
    cursor: pointer;
}

.show-cart-active{
    right: 0;
}


/* Js Styling */
.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid var(--border-color);
    position: relative;
}

.cart-item .item-image img {
    width: 70px; 
    margin-right: 10px;
}

.cart-item .item-name {
    font-family: var(--font-roboto);
    font-weight: 700;
    font-size: 16px;
}

.cart-item .item-brand {
    color: var(--icon-color);
    font-size: 13px;
    font-family: var(--font-poppins);
}

.cart-item .item-price {
    font-weight: 600;
    color: var(--secondary-bg-color);
}

.cart-item .item-quantity{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-20%, -50%);
}

.cart-item .item-minus,
.cart-item .item-plus{
    background-color: var(--secondary-bg-color);
    color: var(--white);
    border-radius: 50%;
    height: 20px;
    width: 20px;
    line-height: 1 !important;
    text-align: center;    
    cursor: pointer;
}

.cart-item .item-num{
    width: 25px;
    text-align: center;
}

.total{
    box-shadow: var(--box-shadow-light);
    background-color: var(--white);
    z-index: 10;
    padding: 10px;
    font-size: 22px;
    position: fixed;
    bottom: 0;
    width: 400px;
}

.total-box{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.total p{
    font-family: var(--font-poppins);
    color: var(--black);
    font-weight: 600;
    width: 80px;
    padding: 3px !important;
}

.cart-total{
    font-family:  var(--font-jost);
    font-weight: 400;
    width: 120px;
}



/* Product-details styling */
.product-list{
    display: flex;
}

.product-list .item-image img{
    width: 500px;
    height: 500px;
}

.product-list .item-details{
    margin-top: 80px;
}

.product-list .item-details h3{
    font-size: 46px;
    font-family: var(--font-poppins);
    font-weight: 500;
    color: var(--black);
}

.product-list .item-details p:nth-child(2){
    padding-top: 6px !important;
    font-size: 16px;
    font-weight: 500;
    color: var(--placeholder);
}

.product-list .item-details p:nth-child(3){
    padding-top: 10px !important;
    font-weight: 500;
    font-size: 22px;
    color: var(--secondary-bg-color);
    font-family: var(--font-roboto);
}

.product-list .item-details p:nth-child(4){
    padding-top: 10px !important;
    font-weight: 600;
    font-size: 38px;
    color: var(--title-color);
    font-family: var(--font-poppins);
}

.product-list .item-details .clothing-cart-btn,
.product-list .item-details .accessories-cart-btn{
    margin-top: 30px;
    width: 300px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    font-size: 24px !important;    
    font-weight: 500;
    gap: 10px;
}


/* Similar Products */
.similar-products-title {
    font-size: 36px;
    font-family: var(--font-jost);
    font-weight: 600;
    color: var(--title-color);
    text-transform: uppercase;
    padding: 0 20px;
    margin-top: 20px;
}

.containerClass{
    margin-top: 60px;
    padding: 0 20px;
}

.clothing-products-page,
.accessories-products-page{
    gap: 20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}